.add_post_container {
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    box-shadow: 5px 5px 0 black;
}

.add_post_container > form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.add_post_container input {
    padding: .5rem;
}

.add_post_container label {
    font-weight: bold;
    margin: 1rem;
}
.add_post_container textarea {
    flex: 2 0 10rem;
}

.add_post_container ul {
    list-style-type: none;
}

.add_post_container button {
    background-color: white;
    border: 1px solid black;
    flex: 5 15 auto;
    padding: 1rem;
    margin: 1rem;
}