.edit_post {
  display: flex;
  flex-direction: column;
}

.edit_post input {
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid rgb(212, 212, 212);
  font-size: 1.5em;
  font-weight: bold;
}

.edit_post textarea {
  padding: .5rem;
  border-radius: 1rem;
  border: 1px solid rgb(212, 212, 212);
}

.edit_post button {
  align-self: center;
  justify-self: center;
  padding: .5rem 1rem;
  margin: 1rem;
}