@import 'add_post_page.css';
@import 'post.css';
@import 'aside.css';
@import 'full_post.css';
@import 'add_comment_form.css';
@import 'dropdown.css';
@import 'edit_post.css';
@import 'signup.css';
@import 'most_liked_post.css';
@import 'carousel.css';
@import './modal_window/modal_window.css';
@import './search/search_bar.css';
@import './search/search.css';
@import './spinner/spinner.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    text-align: center;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

a {
    transition: .2s ease-in-out;
}

header.main_header {
    z-index: 1;
    position: sticky;
    top: 0;
}

nav.menu > h1 {
    text-align: left;
}

header span#l {
    text-shadow: -5px 5px mediumaquamarine;
}

header span#r {
    text-shadow: 5px -5px mediumaquamarine;
}

nav.menu {
    border-bottom: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a.item:last-child {
    background-color: salmon;
}

a.item:last-child:hover {
    background-color: mediumaquamarine;
}

a.item {
    padding: 1em 2em 1em 2em;
    transition: .2s ease-in-out;
    text-decoration: none;
    color: black;
}

a.item:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.main_container {
    display: flex;
    flex: 1;
}

.main_container > main {
    flex: 1;
    padding: 0 1rem;
}

aside {
    align-self: flex-start;
    position: sticky;
    top: 3.8rem;
}

.main_container > aside#left,
.main_container > aside#right {
    flex: 0 0 25vw;
}

.main_container > nav {
    order: -1;
}

footer {
  height: 20vh;
}

@media screen and (max-width: 768px) {
    .main_container > aside#left,
    .main_container > aside#right {
        display: none;
    }

}

@media screen and (max-width: 375px) {
    .main_container > aside#left,
    .main_container > aside#right {
        display: none;
    }

}

@media screen and (max-width: 960px) {
    .main_container > aside#left,
    .main_container > aside#right {
        flex: 0 0 10vw;
    }

}