.signup_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup_form {
  border: 1px solid rgb(212, 212, 212);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 500px;
}

.signup_form button {
  align-self: center;
  justify-self: center;
  background-color: white;
  border: 1px solid black;
  padding: .5rem 1rem;
  margin-top: 1rem;
}

.form_field {
  display: flex;
  flex-direction: row;
  margin: .5rem 0;
}

.form_field input {
  flex: 1 1 auto;
  max-width: 320px;
}

.form_field label {
  margin-right: 1rem;
  margin-left: auto;
  min-width: 150px;
}

@media screen and ( max-width: 375px ) {
  .form_field input {
    flex: 1 1 auto;
    max-width: 150px;
  }
  
  .form_field label {
    margin-right: 1rem;
    margin-left: auto;
    min-width: 150px;
  }
}
